
/node_modules
/.pnp
.pnp.js


/coverage


/.next/
/out/




.env




*.tsbuildinfo
next-env.d.ts

# InsForge & AI agent skills
.insforge
.agent
.agents
.augment
.claude
.cline
.github/copilot*
.kilocode
.qoder
.qwen
.roo
.trae
.windsurf
